@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* styles/globals.css */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f7fafc;
  color: #2d3748;
  margin: 0;
  padding: 0;
  color: var(--foreground);

}

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #434190;
}

/* Utility classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
